Package: page.liam.shutupshortcuts
Provides: com.wrp1002.shutupshortcuts
Conflicts: com.wrp1002.shutupshortcuts
Replaces: com.wrp1002.shutupshortcuts
Name: ShutupShortcuts
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Stop Shutcut notifications!
Maintainer: Liam Huang <liamhuang0205@gmail.com>
Author: Wes <wes.hamster@gmail.com>, Liam Huang <liamhuang0205@gmail.com>
Section: Tweaks
Depends: ellekit (>= 1.0), ws.hbang.common (>= 2.0)
